<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lfq.mobileoffice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="登陆"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.notice.NoticeDetailsActivity"
            android:label="公告详情" />
        <activity
            android:name=".ui.room.RoomDetailsActivity"
            android:label="会议室详情" />
        <activity
            android:name=".ui.room.RoomApplyActivity"
            android:label="会议室预约" />
        <activity
            android:name=".ui.leave.AskForLeaveActivity"
            android:label="请假">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.fileselect.FileSelectActivity"
            android:label="文件选择" />
        <activity
            android:name=".ui.trip.BusinessTripActivity"
            android:label="出差" />
        <activity
            android:name=".ui.reimbursement.ReimbursementActivity"
            android:label="报销" />
        <activity
            android:name=".ui.billitemselect.BillItemSelectActivity"
            android:label="添加账单项目" />
    </application>

</manifest>